---
import { Image } from "astro:assets";
import { myProjects } from "../data";

import Layout from "../layouts/Layout.astro";

interface Props {
    id:string

}


const {project} = Astro.params


const actualProject = Object.values(myProjects).find( p => p.id === project) 


---

<Layout title="Cesar Leyton">
    <main class="h-screen relative w-screen flex justify-center bg-terciary items-center ">
      <a class="absolute z-10 top-2 left-2" href="/projects">
        <img class=" h-[55px] w-[55px]" src="/arrow-left-outline.svg" alt="left"/>
      </a>
        <section class="flex flex-col lg:flex-row items-center justify-center ">
          <section class="p-5 flex flex-col pt-[50px] items-center justify-center">
            <h4 class="text-3xl font-noirpro text-secondary">{actualProject?.title}</h4>
            <article class="max-w-sm mb-2">
              <p class="font-noirlight text-xl text-black">{actualProject?.description}</p>
            </article>
            <article class="flex max-w-[310px] flex-wrap gap-2 mb-10">
              {actualProject?.stack?.map((tec:string) => (
                <p class="font-noirlight text-sm text-white bg-primary p-1 rounded-lg ">{tec}</p>
              ))}
            </article>
            <footer class="flex gap-3 text-xl ">
              <article class=" p-1 text-secondary font-noirlight rounded-lg hover:scale-105">
              {actualProject?.gitHub ?  <a  href={actualProject.gitHub} target="_blank">
                  View demo
               </a> : ''}
              </article>
              <article class=" p-1 rounded-lg hover:scale-105">
                <a  href={actualProject?.demo} target="_blank">
                  <p class="text-secondary font-noirlight">View site</p>
                </a>
              </article>
            </footer>
          </section>
          <section class="w-[400px] h-[300px] text-center">
            <Image src={actualProject?.image} width={200} height={200}  alt={'project image'} style={`view-transition-name:image-${actualProject?.id}`} class="object-cover w-full max-h-full rounded-xl"/> 
          </section>
        </section>
        
          
    </main>
 
</Layout>

